@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;700&family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@300;400;500;700;800;900&family=Raleway:wght@400;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto, Poppins;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.intro {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: transparent;
    color: black;
    padding: 8px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}